:root{
    --text: black;
    --highlight: rgb(255, 220, 32);
    --section: green;
    --bland: gray;
    --special: red;
}

@font-face {
    font-family: 'matrix';
    src: url(./fonts/OrbitronMedium-naY4.otf);
}
@font-face {
    font-family: 'matrix_large';
    src: url(./fonts/OrbitronBold-10M0.ttf);
}

body{
    background-image: url("https://www.textures4photoshop.com/tex/thumbs/matrix-code-animation-gif-free-animated-background-716.gif");
    background-size: cover;
    font-family: "matrix";
    color: var(--text);
}

#projects, #goals, #contact{
    opacity: 0;
    display: none;
}

h1{
    font-size: 6.5rem;
    text-align: center;
    margin: 1rem;
    font-family: "matrix_large";
}

.highlight{
    color: var(--highlight);
}

header img{
    width: 60%;
    border-radius: 50%;
}
.the_box{
    background-color: var(--special);
    width: 7rem;
    height: 7rem;
}

section{
    background-color: var(--section);
    opacity: 80%;
    margin: 1rem;
    padding: 1rem;
}

h2{
    font-size: 3.5rem;
    font-family: "matrix_large";
}

.side{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#about_me{
    text-align: center;
}

section img{
    width: 50%;
    height: 50%;
}

p{
    font-size: 1.5rem;
}

#travel_right{
    position: absolute;
    right: 1rem
}

.circle{
    width: 14rem;
    height: 6rem;
    border: .3rem solid black;
    border-radius: 5rem;
}
.circle h2{
    margin: .75rem;
}

li.inactive{
    color: var(--text);
    font-size: 2rem;
    transition: color 0.5s ease;
}
li.active{
    color: var(--special);
    transition: color 0.5s ease;
}

.hexagon {
    width: 120px;
    aspect-ratio: 1;
    background: url('./project_images/Screenshot\ 2026-04-07\ 211318.png') center/cover no-repeat;
    clip-path: polygon(
        25% 0%, 75% 0%,
        100% 50%,
        75% 100%, 25% 100%,
        0% 50%
    );
    margin: 20px;
}

#puzzle{
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "hexagon1 hexagon2"
    "turn1 turn1"
    "hexagon3 hexagon4"
    "turn2 turn2"
    "hexagon5 hexagon6";
    place-items: start center;
}

#project1{
    grid-area: hexagon1;
}
#project2{
    grid-area: hexagon2;
}
#project3{
    grid-area: hexagon3;
}
#project4{
    grid-area: hexagon4;
}
#project5{
    grid-area: hexagon5;
}
#project6{
    grid-area: hexagon6;
}
#turn1{
    grid-area: turn1;
}
#turn2{
    grid-area: turn2;
}

#puzzle a{
    text-align: center;
    text-decoration: none;
    color: var(--text);
}

.title, .certif_title, .certif_explain, .backend_title, .backend_explain, .gamedev_title, .gamedev_explain{
    aspect-ratio: 1.1;
    clip-path: polygon(
        25% 0%, 75% 0%,
        100% 50%,
        75% 100%, 25% 100%,
        0% 50%
    );
    margin: 1rem;
    box-sizing: border-box;
    background: var(--highlight);
    text-align: center;
    align-content: center;
}

#goals{
    display: flex;
}
.title{
    width: 18rem;
}
.certif_title, .backend_title, .gamedev_title{
    width: 12rem;
}
.backend_explain, .certif_explain, .gamedev_explain{
    width: 22rem;
    padding: 3rem;
}
.certif_title, .certif_explain, .gamedev_explain, .gamedev_title{
    justify-self: end;
}

